.blog-header {
    margin: auto;
    max-width: 50%;
}
.blog-header .title-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}
.blog-header .title {
    white-space: nowrap;
    font-size: 28px;
    display: inline-block;
    background: linear-gradient(207deg, #4285d3 25%, #f364ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.blog-header .nav {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
}
.blog-header .nav-item > a {
    text-decoration: none;
    font-size: 20px;
    color: inherit;
}
.blog-header .nav-item > a:visited {
    color: unset;
}
.blog-header .nav-item {
    margin-right: 16px;
}
.blog-header .nav-item:last-of-type {
    margin-right: 0;
}
