<%- partial('partial/header') %>
<main style="padding-top: 16px;">
    <article class="article-content">
        <h2 style="margin-bottom: 16px;"><%- page.title %></h2>
        <%- page.content %>
    </article>
</main>