<nav class="blog-header">
    <div class="title-wrap">
        <h1 class="title">破茧而出 化蝶飞舞</h1>
    </div>
    <ul class="nav">
        <li class="nav-item"><a href="/blog">Home</a></li>
        <li class="nav-item"><a href="/blog/about">About</a></li>
    </ul>
</nav>
